<div class="row">
    <div class="col-xs-12 text-center">
        <img src="/assets/img/header.png" alt="Eat da Krabby Patty!">
        <img src="/assets/img/burger.png" alt="Burger Picture">
    </div>
</div>
<div class="row">
    <div class="col-xs-6 text-right">
        {{#each burgers}}
            {{!-- If not devoured --}}
            {{#unless devoured}}
                <div class="well well-sm text-center">{{this.id}}. {{this.burger_name}}</div>
                <button data-burgerid="{{this.id}}" class="change-devour btn btn-default">Devour It!</button>
                <br><br>
            {{/unless}}
        {{/each}}
    </div>
    <div class="col-xs-6 text-left">
        {{#each burgers}}
            {{#if devoured}}
                <div class="well well-sm devoured text-center">{{this.id}}. {{this.burger_name}}<br></div>
            {{/if}}
        {{/each}}
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-xs-offset-3 text-center">
        <h2>Add a Krabby Patty</h2>
        <form id="addburger" class="form-inline">
            <input type="text" name="burger" class="form-control">
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <h4>Enter a Krabby Patty you want to eat, and click the submit button.</h4>
        <br>
        <br>
    </div>
</div>



<script type="text/javascript">
    $("#addburger").on("submit", function(event) {
        console.log("adding burger");
        event.preventDefault();

        var newBurger = {
            burger_name: $("#addburger [name=burger]").val().trim()
        };
        console.log(newBurger);

        $.ajax("/api/burgers", {
            type: "POST",
            data: newBurger
        }).then(function() {
            console.log("added new burger");
            // Reload the page to get the updated list
            location.reload();
            }
        );
    });

    $(".change-devour").on("click", function(event) {
        console.log("devouring burger");
        var id = $(this).data("burgerid");
        console.log("id of burger you selected: " + id);

        var newDevouredState = {
            devoured: true
        }

        $.ajax("/api/burgers/" + id, {
            type: "PUT",
            data: newDevouredState
        }).then(function() {
            console.log("changed devoured to true");
            // Reload the page to get the updated list
            location.reload();
        });
    });
</script>